APP_ENV=dev
APP_DEBUG=1
APP_SECRET=CHANGE_ME

# Docker
WEB_PORT=8080
COMPOSE_PROFILES=dev

# Database
POSTGRES_DB=insite
POSTGRES_USER=insite
POSTGRES_PASSWORD=CHANGE_ME
DATABASE_URL=postgresql://insite:CHANGE_ME@postgres:5432/insite?serverVersion=16&charset=utf8

# Mail
MAILER_DSN=smtp://mailhog:1025
MAILHOG_SMTP_PORT=1025
MAILHOG_WEB_PORT=9001

CONTACT_FROM=noreply@example.test
CONTACT_RECIPIENT=admin@example.test

# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://minio:9000
MINIO_REGION=us-east-1
MINIO_BUCKET=insite
MINIO_ROOT_USER=insite
MINIO_ROOT_PASSWORD=CHANGE_ME

# pgAdmin
PGADMIN_WEB_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.test
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME

# Application
DEFAULT_URI=http://localhost:8080
JAM_TIMEZONE=Europe/Paris
