APP_ENV=dev
APP_SECRET=CHANGE_ME

DATABASE_URL=CHANGE_ME

MAILER_DSN=smtp://mailhog:1025

CONTACT_FROM=noreply@example.test
CONTACT_RECIPIENT=admin@example.test

MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
MINIO_BUCKET=CHANGE_ME
MINIO_ROOT_USER=CHANGE_ME
MINIO_ROOT_PASSWORD=CHANGE_ME

PGADMIN_DEFAULT_EMAIL=admin@example.test
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME

POSTGRES_DB=CHANGE_ME
POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME

DEFAULT_URI=http://localhost:8080
JAM_TIMEZONE=Europe/Paris
