@use '../abstracts/variables' as *;

.card {
    padding: 1.5rem;

    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);

    background: var(--color-surface);

    & + & {
        margin-top: 1.25rem;
    }
}
